<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tuanly.somee.com/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="SGM_Service.ServiceSoap"
                name="ServiceSoap" />
        </client>
      
    </system.serviceModel>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>